**/bash.exe.stackdump
stories/detective_noir/forty_seconds.html
.vscode/settings.json
.claude/worktrees/
**/~*.docx
**/~*.tmp
**/Thumbs.db
*.psd
stories/detective_noir/Forty Seconds.pdf
stories/detective_noir/Forty Seconds.booklet.pdf
trash/
# images-raw/*.png
stories/detective_noir/cover/cover.pngs
